<div class="card card-cascade narrower mt-5" style="margin: 20px !important;">
  <div class="card-body">
    <div class="form-group row">

      <label class="col-sm-2 col-form-label">User</label>
      <select class="custom-select col-sm-4 "  [(ngModel)]="user" ngDefaultControl
      [ngClass]="{
        'is-invalid': search && ! user
      }"
      >
        <option value="1" selected>All</option>
      </select>

      <label class="col-sm-2 col-form-label" >options</label>
      <select class="custom-select col-sm-4 "  [(ngModel)]="option" ngDefaultControl
      [ngClass]="{
        'is-invalid': search && ! option
      }">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>

    </div>
    <div class="form-group row" *ngIf="option==1">

      <label class="col-sm-2 col-form-label">From Date</label>
      <input
      [max]="toDate"
        [owlDateTime]="dt2"
        [owlDateTimeTrigger]="dt2"
        aria-describedby="inputGroup-sizing-sm"
        class="form-control col-sm-4 "
        placeholder="From Date"
        [(ngModel)]="fromDate"
        ngDefaultControl
        [ngClass]="{
          'is-invalid': search && option==1 && ! fromDate
        }"
      />
      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

      <label class="col-sm-2 col-form-label">To Date</label>
      <input
      [min]="fromDate"
        [owlDateTime]="dt1"
        [owlDateTimeTrigger]="dt1"
        aria-describedby="inputGroup-sizing-sm"
        class="form-control col-sm-4 "
        placeholder="To Date"
        [(ngModel)]="toDate"
        ngDefaultControl
        [ngClass]="{
          'is-invalid': search && option==1 && ! toDate
        }"
      />
      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

    </div>

    <button
      mdbBtn
      color="primary"
      style="float: right;"
      class="waves-light"
      mdbWavesEffect
      (click)="OnSearch()"
    >
      Search
    </button>

  </div>
</div>
